section {
  background: none;
  height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
section:before {
  content: '';
  position: absolute;
  bottom: 100px;
  left: 50%;
  margin-left: -20px;
  width: 100px;
  height: 100px;
  /*background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuNCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSI5NC42N3B4IiBoZWlnaHQ9Ijk0LjY3cHgiIHZpZXdCb3g9IjAgMCA5NC42NyA5NC42NyIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgOTQuNjcgOTQuNjciIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNOTQuNjcsMjYuNzc2TDQ3LjMzNSw2OS4zOEwwLDI2Ljc3NmwxLjMzOC0xLjQ4Nmw0NS45OTcsNDEuMzk2bDQ1Ljk5Ny00MS4zOTZMOTQuNjcsMjYuNzc2eiIvPgo8L3N2Zz4=");
  */
  /*background-image: url("../Images/green-arrow.png");*/
  background-image: url("../Images/black-arrow.png");
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
  -ms-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@-moz-keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  40% {
    -webkit-transform: translate(0, -30px);
    -moz-transform: translate(0, -30px);
    -o-transform: translate(0, -30px);
    -ms-transform: translate(0, -30px);
    transform: translate(0, -30px);
  }
  60% {
    -webkit-transform: translate(0, -15px);
    -moz-transform: translate(0, -15px);
    -o-transform: translate(0, -15px);
    -ms-transform: translate(0, -15px);
    transform: translate(0, -15px);
  }
}
@-webkit-keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  40% {
    -webkit-transform: translate(0, -30px);
    -moz-transform: translate(0, -30px);
    -o-transform: translate(0, -30px);
    -ms-transform: translate(0, -30px);
    transform: translate(0, -30px);
  }
  60% {
    -webkit-transform: translate(0, -15px);
    -moz-transform: translate(0, -15px);
    -o-transform: translate(0, -15px);
    -ms-transform: translate(0, -15px);
    transform: translate(0, -15px);
  }
}
@-o-keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  40% {
    -webkit-transform: translate(0, -30px);
    -moz-transform: translate(0, -30px);
    -o-transform: translate(0, -30px);
    -ms-transform: translate(0, -30px);
    transform: translate(0, -30px);
  }
  60% {
    -webkit-transform: translate(0, -15px);
    -moz-transform: translate(0, -15px);
    -o-transform: translate(0, -15px);
    -ms-transform: translate(0, -15px);
    transform: translate(0, -15px);
  }
}
@keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  40% {
    -webkit-transform: translate(0, -30px);
    -moz-transform: translate(0, -30px);
    -o-transform: translate(0, -30px);
    -ms-transform: translate(0, -30px);
    transform: translate(0, -30px);
  }
  60% {
    -webkit-transform: translate(0, -15px);
    -moz-transform: translate(0, -15px);
    -o-transform: translate(0, -15px);
    -ms-transform: translate(0, -15px);
    transform: translate(0, -15px);
  }
}
