.button-row {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: black 3px dashed;
  width: 100%;
  height: 75%;
}
.button-row > div {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
}
.button-row > div > .sbu-content {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  /*-webkit-transform: translateZ(-25px);
  -moz-transform: translateZ(-25px);
  -ms-transform: translateZ(-25px);
  -o-transform: translateZ(-25px);*/
  transform: translateZ(0px);
  /*-webkit-transition: -webkit-transform 0.25s;
  -moz-transition: -moz-transform 0.25s;*/
  transition: transform 1s;
  border: red 3px dashed;
}

/*********************
* Content
*********************/
.button-row > div > .sbu-content::before,
.button-row > div > .sbu-content::after {
  justify-content: center;
  align-items: center;
  margin: 0;
  position: absolute;
  border: 5px solid black;
  box-sizing: border-box;
  content: attr(title);
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.button-row > div > .sbu-content::before {
  background-color: #000;
  border-color: peachpuff;
  color: #fff;
  /*-webkit-transform: rotateY(0deg) translateZ(25px);
  -moz-transform: rotateY(0deg) translateZ(25px);
  -ms-transform: rotateY(0deg) translateZ(25px);
  -o-transform: rotateY(0deg) translateZ(25px);*/
  transform: rotateY(0deg) translateZ(0px);
  width: 100%;
  height: 100%;
}

/*.button-row > div > .sbu-content::after {
  background-color: lightseagreen;
  border-color: #000;
  color: #000;
  /*-webkit-transform: rotateX(90deg) translateZ(25px);
  -moz-transform: rotateX(90deg) translateZ(25px);
  -ms-transform: rotateX(90deg) translateZ(25px);
  -o-transform: rotateX(90deg) translateZ(25px);
  transform: rotateX(90deg) rotateY(0deg) rotateZ(55deg) translateZ(-312px) translateY(-100%);
  height: 100%;
  width: 100%;
}*/

.button-row > div > .sbu-content:focus {
  /*-webkit-transform: translateZ(-25px) rotateX(-90deg);
  -moz-transform: translateZ(-25px) rotateX(-90deg);
  -ms-transform: translateZ(-25px) rotateX(-90deg);
  -o-transform: translateZ(-25px) rotateX(-90deg);*/
  transform: translateZ(0px) translateX(-50%) rotateY(55deg);
}

/*********************
* Map
*********************/
.button-row > div > .sbu-map {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  /*-webkit-transform: translateZ(-25px);
  -moz-transform: translateZ(-25px);
  -ms-transform: translateZ(-25px);
  -o-transform: translateZ(-25px);*/
  transform: rotateX(90deg) rotateY(0deg) rotateZ(55deg) translateZ(-312px) translateY(-100%);
  /*-webkit-transition: -webkit-transform 0.25s;
  -moz-transition: -moz-transform 0.25s;*/
  transition: transform 1s;
  border: red 3px solid;
}

.button-row > div > .sbu-map::before,
.button-row > div > .sbu-map::after {
  justify-content: center;
  align-items: center;
  margin: 0;
  position: absolute;
  border: 5px solid black;
  box-sizing: border-box;
  content: attr(title);
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.button-row > div > .sbu-map::before {
  background-color: #000;
  border-color: peachpuff;
  color: #fff;
  /*-webkit-transform: rotateY(0deg) translateZ(25px);
  -moz-transform: rotateY(0deg) translateZ(25px);
  -ms-transform: rotateY(0deg) translateZ(25px);
  -o-transform: rotateY(0deg) translateZ(25px);*/
  transform: rotateY(0deg) translateZ(0px);
  width: 100%;
  height: 100%;
}

/*.button-row > div > .sbu-map::after {
  background-color: lightseagreen;
  border-color: #000;
  color: #000;
  /*-webkit-transform: rotateX(90deg) translateZ(25px);
  -moz-transform: rotateX(90deg) translateZ(25px);
  -ms-transform: rotateX(90deg) translateZ(25px);
  -o-transform: rotateX(90deg) translateZ(25px);
  transform: rotateX(90deg) rotateY(0deg) rotateZ(55deg) translateZ(-312px) translateY(-100%);
  height: 100%;
  width: 100%;
}*/

.button-row > div > .sbu-map:focus {
  /*-webkit-transform: translateZ(-25px) rotateX(-90deg);
  -moz-transform: translateZ(-25px) rotateX(-90deg);
  -ms-transform: translateZ(-25px) rotateX(-90deg);
  -o-transform: translateZ(-25px) rotateX(-90deg);*/
  transform: rotateX(0deg) rotateY(0deg) rotateZ(-55deg) translateZ(312px) translateY(100%);
}



/* this is just icing */
.swipe-wrapper {
  font-family: "Oswald", Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  padding: 110px 0 0 0;
  margin: 0;
}

/*.main {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}*/

.swipe-wrapper,
.main {
  height: 100%;
}
