
.button-row {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  height: 100%;
}
.button-row > div {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  background-repeat: no-repeat;
  background-position: center /*top*/;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*********************
* Content
*********************/
.button-row > div > .sbu-content {
  margin: 0;
  padding: 50px;
  width: 100%;
  height: 100%;
  z-index: 2;
  border-radius: 20px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  /*-webkit-transform: translateZ(-25px);
  -moz-transform: translateZ(-25px);
  -ms-transform: translateZ(-25px);
  -o-transform: translateZ(-25px);*/
  transform: translateZ(0px);
  /*-webkit-transition: -webkit-transform 0.25s;
  -moz-transition: -moz-transform 0.25s;*/
  transition: transform 0.6s ease;
  /*from before and after*/
  justify-content: center;
  align-items: center;
  margin: 0;
  position: absolute;
  border: 5px solid white;
  box-sizing: border-box;
  /*display: -webkit-box;
  display: -moz-box;
  display: box;*/
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: block;
  background-color:rgba(0,0,0,0.7);
  color: white;
  overflow: scroll;
}

.pg-wrapper h1 {
  text-align: center;
  margin: 60px 0px;
}
.pg-wrapper h2 {
  color: #008fb3;
  margin: 20px 40px 20px 40px;
}
.pg-wrapper p {
  color: lightgray;
  margin: 0px 40px 60px 40px;
}

.pg-wrapper button {
  float: right;
  margin-right: 60px;
}

.button-row > div > .sbu-content-clicked {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  /*-webkit-transform: translateZ(-25px);
  -moz-transform: translateZ(-25px);
  -ms-transform: translateZ(-25px);
  -o-transform: translateZ(-25px);*/
  /*-webkit-transition: -webkit-transform 0.25s;
  -moz-transition: -moz-transform 0.25s;*/
  transition: transform 0.6s ease;;
  /*from before and after*/
  justify-content: center;
  align-items: center;
  margin: 0;
  position: absolute;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: block;
  background-color:rgba(0,0,0,0.7);
  color: white;
  /*-webkit-transform: translateZ(-25px) rotateX(-90deg);
  -moz-transform: translateZ(-25px) rotateX(-90deg);
  -ms-transform: translateZ(-25px) rotateX(-90deg);
  -o-transform: translateZ(-25px) rotateX(-90deg);*/

  /*Flip to Center and dissappear*/
  /*transform: translateZ(-2000px) translateX(0%) rotateY(90deg);*/

  /*Open left like a door*/
  transform: translateZ(-850px) translateX(-35%) rotateY(70deg);
}

/*********************
* Map
*********************/
.button-row > .sbu-map {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 800px;
  z-index: 1;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  /*-webkit-transform: translateZ(-25px);
  -moz-transform: translateZ(-25px);
  -ms-transform: translateZ(-25px);
  -o-transform: translateZ(-25px);*/
  transform: rotateX(90deg) rotateY(0deg) rotateZ(25deg) translateZ(-320px)
    translateY(-100%) translateX(22%);
  /*-webkit-transition: -webkit-transform 0.25s;
  -moz-transition: -moz-transform 0.25s;*/
  transition: transform 0.6s ease;
  /*from before and after*/
  justify-content: center;
  align-items: center;
  margin: 0;
  position: absolute;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #404040;
  color: #fff;
}

.sbu-map-clicked button {
  float: right;
  margin-right: 60px;
}

.button-row > .sbu-map-clicked {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 800px;
  z-index: 2;
  border-radius: 20px;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  /*-webkit-transition: -webkit-transform 0.25s;
  -moz-transition: -moz-transform 0.25s;*/
  transition: transform 0.6s ease;
  /*from before and after*/
  justify-content: center;
  align-items: center;
  margin: 0;
  position: absolute;
  border: 5px solid white;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: block;
  background-color: #404040;
  color: #fff;
  /*-webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px)
    translateY(0%);
  -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px)
    translateY(0%);
  -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px)
    translateY(0%);
  -o-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px)
    translateY(0%);*/
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0px)
    translateY(0%);
}

/**********
* General
 ********/
.pg-wrapper {
  font-family: "Oswald", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0 0 50px 0;
}

.pg-wrapper,
.main {
  height: 800px;
}


