#tuscany {
  background-image: url('Images/Kenya_00809.jpg');
  font-family: 'Teko', sans-serif;
  width: 100%;
  height: 1100px;
  display: block;
  background-color: rgba(0, 0, 0, 0.55);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#greyMane {
  background-color: rgba(230, 180, 0, 0.77);
  background-blend-mode: darken;
  color: black;
}

#greyMane label {
  font-family: 'Oleo Script', cursive;
  font-size: 26pt;
}

#greyMane h3 {
  font-size: 16pt;
}

#greyMane button {
  font-family: 'Oleo Script', cursive;
  font-size: 14pt;
}

/****************************************/
/** Contact section **/

.content-header {
  font-family: 'Oleo Script', cursive;
  color: #fcc500;
  font-size: 45px;
}

.section-content {
  text-align: center;
}

#contact {
  font-family: sans-serif;
  padding-top: 60px;
  width: 100%;
  width: 100vw;
  height: 1000px;
  background-image: url('Images/UCL_188_.jpg');
  color: #fff;
}

.contact-section {
  padding-top: 40px;
}

.contact-section .col-md-6 {
  width: 50%;
}

.form-line {
  border-right: 1px solid #b29999;
}

.form-group {
  margin-top: 10px;
}
label {
  font-size: 1.3em;
  line-height: 1em;
  font-weight: normal;
}
.form-control {
  font-size: 1.3em;
  color: #080808;
}
textarea.form-control {
  height: 135px;
  /* margin-top: px;*/
}

.submit {
  font-size: 1.1em;
  float: right;
  width: 150px;
  background-color: transparent;
  color: #fff;
}

/****************************************/
/** Profile cards CSS **/

.justifyText {
  text-align: justify;
}

.profile-card {
  background-color: #222222;
  margin-bottom: 20px;
  height: 475px;
  overflow: scroll;
}

.profile-pic {
  border-radius: 50%;
  position: absolute;
  top: -65px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  max-width: 100px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  height: 95px;
  width: 150px;
}

.profile-info {
  color: #bdbdbd;
  padding: 25px;
  position: relative;
  margin-top: 15px;
}

.profile-info h2 {
  color: #e8e8e8;
  letter-spacing: 4px;
  padding-bottom: 12px;
}

.profile-info span {
  display: block;
  font-size: 12px;
  color: #4cb493;
  letter-spacing: 2px;
}

.profile-info a {
  color: #4cb493;
}

.profile-info i {
  padding: 15px 35px 0px 35px;
}

.profile-card:hover .profile-pic {
  transform: scale(1.1);
}

.profile-card:hover .profile-info hr {
  opacity: 1;
}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 52%;
  right: 52%;
  bottom: 0;
  background: #ffffff;
  border-radius: 50%;
  height: 3px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.profile-card:hover .hvr-underline-from-center:before,
.profile-card:focus .hvr-underline-from-center:before,
.profile-card:active .hvr-underline-from-center:before {
  left: 0;
  right: 0;
  height: 1px;
  background: #cecece;
}

/****************************************/
/** Digital layout **/

.bg-1 {
  background-color: #1abc9c; /* Green */
  color: #ffffff;
}
.bg-2 {
  background-color: #474e5d; /* Dark Blue */
  color: #ffffff;
}
.bg-3 {
  background-color: #ffffff; /* White */
  color: #555555;
}
.bg-4 {
  background-color: #2f2f2f; /* Black Gray */
  color: #fff;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

/****************************************/
/** This is for the need to know page **/
.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.polaroid #container {
  text-align: center;
  padding: 10px 20px;
}

a {
  text-decoration: none !important;
}

/** End of the need to know page **/
/*********************************/
/** History page **/

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@import url(https://fonts.googleapis.com/css?family=Nunito);

html {
  height: 100%;
  overflow: hidden;
}

h1 {
  font-size: 250%;
}

p {
  font-size: 140%;
  line-height: 150%;
  color: #333;
}

.slide {
  position: relative;
  padding: 25vh 10%;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
  transform-style: inherit;
}

img {
  z-index: -5;
}

.slide:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.title {
  width: 45%;
  padding: 3.5%;
  border-radius: 2.5px;
  background: rgba(240, 230, 220, .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
  float: left;
}

.titleright {
  width: 45%;
  padding: 3.5%;
  border-radius: 2.5px;
  background: rgba(240, 230, 220, .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
  float: right;
}

.slide:nth-child(2n) .title {
  margin-left: 0;
  margin-right: auto;
}

.slide:nth-child(2n + 1) .title {
  margin-left: auto;
  margin-right: 0;
}

.slide,
.slide:before {
  background: 50% 50% / cover;
}

.header {
  text-align: center;
  font-size: 175%;
  color: #fff;
  text-shadow: 0 2px 2px #000;
}

#title {
  background-image: url("http://lorempixel.com/640/480/abstract/6/");
  background-attachment: fixed;
}

#slide1:before {
  background-image: url("Images/HistoryImages/history-landing-page.jpg");
  transform: translateZ(-1px) scale(1);
  z-index: -1;
}

#slide2 {
  background-image: url("Images/HistoryImages/PL_BC_157.jpg");
}

#slide3:before {
  background-image: url("Images/HistoryImages/BC_47.jpg");
  transform: translateZ(-1px) scale(1);
  z-index: -1;
}

#slide4 {
  background-image: url("Images/HistoryImages/BCP_PPR4_201.jpg");
}

#slide5 {
  background-image: url("Images/HistoryImages/BC_152_4.jpg");
}

#slide6 {
  background-image: url("Images/HistoryImages/PL_BC_116.jpg");
}

#slide7 {
  background-image: url("Images/HistoryImages/PL_BC_71.jpg");
}

#slide8 {
  background-image: url("Images/HistoryImages/Mexico_00048.jpg");
}

#slide9 {
  background-image: url("Images/HistoryImages/Spain_01373.jpg");
}

#slide10 {
  background-image: url("Images/HistoryImages/London_00051.jpg");
}

#slide11 {
  background-image: url("Images/HistoryImages/UCL_00553.jpg");
}

#slide12 {
  background-image: url("Images/HistoryImages/Ghana_00605.jpg");
}

#slide13 {
  background-image: url("Images/HistoryImages/Dubai_00639.jpg");
}

#slide14 {
  background-image: url("Images/HistoryImages/Vietnam_01353.jpg");
}

#slide15 {
  background-image: url("Images/HistoryImages/modern_bc.jpg");
}
